/*header {
    min-height: 8vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #282c34;
    background-color: #daf5ff;
    border-bottom: 1px solid #daf5ff;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  }*/