footer {
    position: fixed;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 8vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #daf5ff;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  }